# Student Performance Prediction (Classification)

**üìä Dataset:** `student_performance.csv`  
**üìö Source:** [Kaggle ‚Äì student_performance Dataset](https://www.kaggle.com/)  




## üéØ Goal
The goal of this project is to predict student academic performance using **supervised machine learning (classification) with Apache Spark**.  
By analyzing students‚Äô demographic, behavioral, and academic features, the model aims to classify students based on their expected performance level, helping identify students who may need early academic support and improve educational decision-making.




## üìà Description
The dataset includes features such as:  
- `StudentID`, `Gender`, `AttendanceRate`, `StudyHoursPerWeek`  
- `PreviousGrade`, `ExtracurricularActivities`, `ParentalSupport`, `OnlineClassesTaken`  
- `FinalGrade` (Target Variable)  

This project predicts students‚Äô academic performance levels to support **data-driven educational decisions**.

In [29]:
# import libraries
from pyspark.sql import SparkSession
from pyspark.sql.functions import col, when
from pyspark.sql.types import IntegerType, DoubleType
import pyspark.sql.functions as F

In [30]:
# Create Spark Session
spark = SparkSession.builder \
    .appName("Student Performance - Data Cleaning") \
    .config("spark.driver.bindAddress", "127.0.0.1") \
    .config("spark.driver.host", "127.0.0.1") \
    .getOrCreate()

print("‚úÖ Spark Session Created Successfully")

‚úÖ Spark Session Created Successfully

# Phase 1: Data Overview & Understanding

In [31]:
# Load raw dataset
df = spark.read.csv(
    r"D:\cs year 3\big data\student-performance-prediction-spark\data\raw\student_performance_updated_1000.csv", 
    header=True,
    inferSchema=True
)

print("‚úÖ Dataset Loaded Successfully")

‚úÖ Dataset Loaded Successfully

In [32]:
# Dataset Shape
rows = df.count()
cols = len(df.columns)

print(f"üìä Dataset Shape: {rows} rows, {cols} columns")

üìä Dataset Shape: 1000 rows, 12 columns

In [33]:
# Preview Dataset
print("üîπ First 5 rows:")
df.show(5)

üîπ First 5 rows:
+---------+-------+------+--------------+-----------------+-------------+-------------------------+---------------+----------+-----------+--------------+--------------------+
|StudentID|   Name|Gender|AttendanceRate|StudyHoursPerWeek|PreviousGrade|ExtracurricularActivities|ParentalSupport|FinalGrade|Study Hours|Attendance (%)|Online Classes Taken|
+---------+-------+------+--------------+-----------------+-------------+-------------------------+---------------+----------+-----------+--------------+--------------------+
|      1.0|   John|  Male|          85.0|             15.0|         78.0|                      1.0|           High|      80.0|        4.8|          59.0|               false|
|      2.0|  Sarah|Female|          90.0|             20.0|         85.0|                      2.0|         Medium|      87.0|        2.2|          70.0|                true|
|      3.0|   Alex|  Male|          78.0|             10.0|         65.0|                      0.0|            Low|      68.0|        4.6|          92.0|               false|
|      4.0|Michael|  Male|          92.0|             25.0|         90.0|                      3.0|           High|      92.0|        2.9|          96.0|               false|
|      5.0|   Emma|Female|          NULL|             18.0|         82.0|                      2.0|         Medium|      85.0|        4.1|          97.0|                true|
+---------+-------+------+--------------+-----------------+-------------+-------------------------+---------------+----------+-----------+--------------+--------------------+
only showing top 5 rows

In [34]:
# Preview Dataset
print("üîπ Random sample:")
df.sample(fraction=0.01).show(5)

üîπ Random sample:
+---------+--------------+------+--------------+-----------------+-------------+-------------------------+---------------+----------+-----------+--------------+--------------------+
|StudentID|          Name|Gender|AttendanceRate|StudyHoursPerWeek|PreviousGrade|ExtracurricularActivities|ParentalSupport|FinalGrade|Study Hours|Attendance (%)|Online Classes Taken|
+---------+--------------+------+--------------+-----------------+-------------+-------------------------+---------------+----------+-----------+--------------+--------------------+
|   4404.0|   Dawn Foster|  Male|          88.0|             20.0|         65.0|                     NULL|           High|      72.0|        0.4|          50.0|               false|
|   6091.0|   Morgan Bell|  Male|          82.0|             NULL|         85.0|                     NULL|           High|      78.0|        4.7|          91.0|                true|
|   9098.0|Caitlin Carter|  Male|          90.0|             25.0|         65.0|                      3.0|            Low|      80.0|        3.8|          92.0|                true|
|   9971.0|   David Brown|  Male|          85.0|             12.0|         65.0|                      3.0|         Medium|      92.0|        3.3|          97.0|               false|
|   5144.0|          NULL|Female|          88.0|             30.0|         85.0|                      2.0|           High|      78.0|        1.9|          75.0|               false|
+---------+--------------+------+--------------+-----------------+-------------+-------------------------+---------------+----------+-----------+--------------+--------------------+
only showing top 5 rows

In [35]:
# Dataset Schema & Info
print("üîπ Dataset Schema:")
df.printSchema()

üîπ Dataset Schema:
root
 |-- StudentID: double (nullable = true)
 |-- Name: string (nullable = true)
 |-- Gender: string (nullable = true)
 |-- AttendanceRate: double (nullable = true)
 |-- StudyHoursPerWeek: double (nullable = true)
 |-- PreviousGrade: double (nullable = true)
 |-- ExtracurricularActivities: double (nullable = true)
 |-- ParentalSupport: string (nullable = true)
 |-- FinalGrade: double (nullable = true)
 |-- Study Hours: double (nullable = true)
 |-- Attendance (%): double (nullable = true)
 |-- Online Classes Taken: boolean (nullable = true)

#### Identify Columns Types

In [36]:
# Identify Numerical Columns
numerical_cols = [
    field.name for field in df.schema.fields
    if isinstance(field.dataType, (IntegerType, DoubleType))
]

print("üìå Numerical Columns:", numerical_cols)

üìå Numerical Columns: ['StudentID', 'AttendanceRate', 'StudyHoursPerWeek', 'PreviousGrade', 'ExtracurricularActivities', 'FinalGrade', 'Study Hours', 'Attendance (%)']

In [37]:
# Identify Categorical Columns
categorical_cols = [
    field.name for field in df.schema.fields
    if field.name not in numerical_cols
]
print("üìå Categorical Columns:", categorical_cols)

üìå Categorical Columns: ['Name', 'Gender', 'ParentalSupport', 'Online Classes Taken']

In [38]:
# Unique Values per Column
print("üîπ Unique values per column:")
for col_name in df.columns:
    print(f"{col_name}: {df.select(col_name).distinct().count()}")

üîπ Unique values per column:
StudentID: 917
Name: 963
Gender: 3
AttendanceRate: 10
StudyHoursPerWeek: 11
PreviousGrade: 11
ExtracurricularActivities: 5
ParentalSupport: 4
FinalGrade: 11
Study Hours: 53
Attendance (%): 53
Online Classes Taken: 3

# Data Cleaning

In [39]:
# Check Missing Values
print("üîπ Missing values per column:")
df.select([
    F.count(F.when(col(c).isNull(), c)).alias(c)
    for c in df.columns
]).show()

üîπ Missing values per column:
+---------+----+------+--------------+-----------------+-------------+-------------------------+---------------+----------+-----------+--------------+--------------------+
|StudentID|Name|Gender|AttendanceRate|StudyHoursPerWeek|PreviousGrade|ExtracurricularActivities|ParentalSupport|FinalGrade|Study Hours|Attendance (%)|Online Classes Taken|
+---------+----+------+--------------+-----------------+-------------+-------------------------+---------------+----------+-----------+--------------+--------------------+
|       40|  34|    48|            40|               50|           33|                       43|             22|        40|         24|            41|                  25|
+---------+----+------+--------------+-----------------+-------------+-------------------------+---------------+----------+-----------+--------------+--------------------+

Handle Missing Values
Strategy:
- Numerical ‚Üí Median (avoid skewing)
- Categorical ‚Üí Mode (most frequent value)

In [40]:
# Handle Numerical Missing Values (Median)
for col_name in numerical_cols:
    median_value = df.approxQuantile(col_name, [0.5], 0.01)[0]
    df = df.fillna({col_name: median_value})

In [41]:
# Handle Categorical Missing Values (Mode)

# Select categorical columns
categorical_cols = [col for col, dtype in df.dtypes if dtype == 'string']

for col_name in categorical_cols:
    # Get the most frequent value (mode) for the column
    mode_row = df.groupBy(col_name).count().orderBy(F.desc("count")).first()
    
    # If mode exists and is not None, fill missing values with it
    if mode_row is not None and mode_row[0] is not None:
        mode_value = str(mode_row[0])  # Ensure it's a string
        df = df.na.fill({col_name: mode_value})
    else:
        print(f"‚ö†Ô∏è Column {col_name} is empty or all null, skipping fillna.")

print("‚úÖ Missing values for categorical columns handled successfully")

‚ö†Ô∏è Column Name is empty or all null, skipping fillna.
‚úÖ Missing values for categorical columns handled successfully

In [42]:
# Validate Missing Values Removal
print("üîπ Missing values after cleaning:")
df.select([
    F.count(F.when(col(c).isNull(), c)).alias(c)
    for c in df.columns
]).show()

üîπ Missing values after cleaning:
+---------+----+------+--------------+-----------------+-------------+-------------------------+---------------+----------+-----------+--------------+--------------------+
|StudentID|Name|Gender|AttendanceRate|StudyHoursPerWeek|PreviousGrade|ExtracurricularActivities|ParentalSupport|FinalGrade|Study Hours|Attendance (%)|Online Classes Taken|
+---------+----+------+--------------+-----------------+-------------+-------------------------+---------------+----------+-----------+--------------+--------------------+
|        0|  34|     0|             0|                0|            0|                        0|              0|         0|          0|             0|                  25|
+---------+----+------+--------------+-----------------+-------------+-------------------------+---------------+----------+-----------+--------------+--------------------+

In [43]:
# Check Duplicates
duplicates_count = df.count() - df.dropDuplicates().count()
print(f"üîπ Number of duplicate rows: {duplicates_count}")

# Remove Duplicates
df = df.dropDuplicates()
print("‚úÖ Duplicate rows removed")

print("üìä New Dataset Shape:", df.count(), "rows")

üîπ Number of duplicate rows: 0
‚úÖ Duplicate rows removed
üìä New Dataset Shape: 1000 rows

In [44]:
# Detect Outliers using IQR (Numerical Columns)
for col_name in numerical_cols:
    Q1 = df.approxQuantile(col_name, [0.25], 0.01)[0]
    Q3 = df.approxQuantile(col_name, [0.75], 0.01)[0]
    IQR = Q3 - Q1

    lower = Q1 - 1.5 * IQR
    upper = Q3 + 1.5 * IQR

    df = df.withColumn(
        col_name,
        when(col(col_name) < lower, lower)
        .when(col(col_name) > upper, upper)
        .otherwise(col(col_name))
    )

print("‚úÖ Outliers handled using IQR capping")

‚úÖ Outliers handled using IQR capping

In [45]:
# Create target variable for classification
df = df.withColumn(
    "PerformanceLevel",
    when(col("FinalGrade") >= 85, "High")
    .when(col("FinalGrade") >= 70, "Medium")
    .otherwise("Low")
)

print("‚úÖ Target variable (PerformanceLevel) created")

# NOTE:
# PerformanceLevel will be used as the target variable
# in the ML modeling phase (model.py)

‚úÖ Target variable (PerformanceLevel) created

In [46]:
#  Final Cleaned Dataset Validation
print("üìä Final Dataset Shape:")
print("Rows:", df.count())
print("Columns:", len(df.columns))

print("üîπ Final Schema:")
df.printSchema()

df.describe().show()

üìä Final Dataset Shape:
Rows: 1000
Columns: 13
üîπ Final Schema:
root
 |-- StudentID: double (nullable = false)
 |-- Name: string (nullable = true)
 |-- Gender: string (nullable = false)
 |-- AttendanceRate: double (nullable = false)
 |-- StudyHoursPerWeek: double (nullable = false)
 |-- PreviousGrade: double (nullable = false)
 |-- ExtracurricularActivities: double (nullable = false)
 |-- ParentalSupport: string (nullable = false)
 |-- FinalGrade: double (nullable = false)
 |-- Study Hours: double (nullable = false)
 |-- Attendance (%): double (nullable = false)
 |-- Online Classes Taken: boolean (nullable = true)
 |-- PerformanceLevel: string (nullable = false)

+-------+------------------+--------------+------+-----------------+-----------------+-----------------+-------------------------+---------------+-----------------+------------------+------------------+----------------+
|summary|         StudentID|          Name|Gender|   AttendanceRate|StudyHoursPerWeek|    PreviousGrade|ExtracurricularActivities|ParentalSupport|       FinalGrade|       Study Hours|    Attendance (%)|PerformanceLevel|
+-------+------------------+--------------+------+-----------------+-----------------+-----------------+-------------------------+---------------+-----------------+------------------+------------------+----------------+
|  count|              1000|           966|  1000|             1000|             1000|             1000|                     1000|           1000|             1000|              1000|              1000|            1000|
|   mean|          5412.859|          NULL|  NULL|            85.61|           17.599|           77.612|                    1.498|           NULL|           80.029|            2.4337|            76.437|            NULL|
| stddev|2600.1236459239967|          NULL|  NULL|7.200398999065657|6.114702657414228|9.840238121421969|       1.0291040059464622|           NULL|9.301649298897463|1.5028199419018167|15.086007378316454|            NULL|
|    min|               1.0|  Aaron Duarte|Female|             70.0|              8.0|             60.0|                      0.0|           High|             62.0|             -2.55|              50.0|            High|
|    max|            9998.0|Zachary Daniel|  Male|             95.0|             30.0|             90.0|                      3.0|         Medium|             92.0|               5.0|             124.0|          Medium|
+-------+------------------+--------------+------+-----------------+-----------------+-----------------+-------------------------+---------------+-----------------+------------------+------------------+----------------+

### Save cleaned dataset

In [47]:
# Save cleaned dataset in cleaned folder
df.toPandas().to_csv(
    r"D:\cs year 3\big data\student-performance-prediction-spark\data\cleaned\student_performance_cleaned.csv",
    index=False
)

print("‚úÖ Cleaned dataset saved successfully")

‚úÖ Cleaned dataset saved successfully

## Statistical Analysis & Data Summaries

In [48]:
# Select numerical columns
numeric_cols = [c for c, t in df.dtypes if t in ('int', 'double')]

# Summary statistics
df.select(numeric_cols).describe().show()

+-------+------------------+-----------------+-----------------+-----------------+-------------------------+-----------------+------------------+------------------+
|summary|         StudentID|   AttendanceRate|StudyHoursPerWeek|    PreviousGrade|ExtracurricularActivities|       FinalGrade|       Study Hours|    Attendance (%)|
+-------+------------------+-----------------+-----------------+-----------------+-------------------------+-----------------+------------------+------------------+
|  count|              1000|             1000|             1000|             1000|                     1000|             1000|              1000|              1000|
|   mean|          5412.859|            85.61|           17.599|           77.612|                    1.498|           80.029|            2.4337|            76.437|
| stddev|2600.1236459239967|7.200398999065657|6.114702657414228|9.840238121421969|       1.0291040059464622|9.301649298897463|1.5028199419018167|15.086007378316454|
|    min|               1.0|             70.0|              8.0|             60.0|                      0.0|             62.0|             -2.55|              50.0|
|    max|            9998.0|             95.0|             30.0|             90.0|                      3.0|             92.0|               5.0|             124.0|
+-------+------------------+-----------------+-----------------+-----------------+-------------------------+-----------------+------------------+------------------+

### Numerical Feature Summary

In [49]:
# Descriptive statistics for numerical features
df.select(numeric_cols).describe().show()

+-------+------------------+-----------------+-----------------+-----------------+-------------------------+-----------------+------------------+------------------+
|summary|         StudentID|   AttendanceRate|StudyHoursPerWeek|    PreviousGrade|ExtracurricularActivities|       FinalGrade|       Study Hours|    Attendance (%)|
+-------+------------------+-----------------+-----------------+-----------------+-------------------------+-----------------+------------------+------------------+
|  count|              1000|             1000|             1000|             1000|                     1000|             1000|              1000|              1000|
|   mean|          5412.859|            85.61|           17.599|           77.612|                    1.498|           80.029|            2.4337|            76.437|
| stddev|2600.1236459239967|7.200398999065657|6.114702657414228|9.840238121421969|       1.0291040059464622|9.301649298897463|1.5028199419018167|15.086007378316454|
|    min|               1.0|             70.0|              8.0|             60.0|                      0.0|             62.0|             -2.55|              50.0|
|    max|            9998.0|             95.0|             30.0|             90.0|                      3.0|             92.0|               5.0|             124.0|
+-------+------------------+-----------------+-----------------+-----------------+-------------------------+-----------------+------------------+------------------+

### Categorical Feature Distributions

In [50]:
# Frequency counts for categorical features
for col_name in categorical_cols:
    print(f"\nDistribution of {col_name}:")
    df.groupBy(col_name).count().orderBy("count", ascending=False).show()

Distribution of Name:
+------------------+-----+
|              Name|count|
+------------------+-----+
|              NULL|   34|
|       Andrea Frey|    2|
|     Anthony Smith|    2|
|      Erica Miller|    2|
| Kimberly Harrison|    2|
|Jessica Richardson|    1|
|   Lonnie Williams|    1|
|  Samantha Mendoza|    1|
|    Alyssa Schmidt|    1|
|     Michael Smith|    1|
|       Gina Palmer|    1|
|       Joseph Holt|    1|
| Christina Johnson|    1|
|  Elizabeth Chavez|    1|
|       Sarah Young|    1|
|      Heather Hill|    1|
|     Candace Kelly|    1|
|    Mrs. Jill Long|    1|
|     Elijah Wagner|    1|
|  Courtney Bradley|    1|
+------------------+-----+
only showing top 20 rows


Distribution of Gender:
+------+-----+
|Gender|count|
+------+-----+
|  Male|  549|
|Female|  451|
+------+-----+


Distribution of ParentalSupport:
+---------------+-----+
|ParentalSupport|count|
+---------------+-----+
|           High|  367|
|         Medium|  328|
|            Low|  305|
+---------------+-----+

### Correlation Analysis

In [51]:
# Convert numerical features to Pandas for correlation analysis
corr_matrix = df.select(numeric_cols).toPandas().corr()

corr_matrix.round(2)

,StudentID,AttendanceRate,StudyHoursPerWeek,PreviousGrade,ExtracurricularActivities,FinalGrade,Study Hours,Attendance (%)
StudentID,1.00,0.05,-0.01,-0.03,-0.04,0.08,0.04,-0.01
AttendanceRate,0.05,1.00,0.01,0.03,-0.02,-0.01,-0.02,0.02
StudyHoursPerWeek,-0.01,0.01,1.00,-0.01,0.03,0.03,-0.02,0.06
PreviousGrade,-0.03,0.03,-0.01,1.00,0.06,0.00,-0.04,0.05
ExtracurricularActivities,-0.04,-0.02,0.03,0.06,1.00,-0.03,-0.04,-0.01
FinalGrade,0.08,-0.01,0.03,0.00,-0.03,1.00,0.04,0.04
Study Hours,0.04,-0.02,-0.02,-0.04,-0.04,0.04,1.00,-0.11
Attendance (%),-0.01,0.02,0.06,0.05,-0.01,0.04,-0.11,1.00

### Multicollinearity Assessment

In [52]:
high_corr_pairs = []

for i in range(len(numeric_cols)):
    for j in range(i + 1, len(numeric_cols)):
        corr_value = corr_matrix.iloc[i, j]
        if abs(corr_value) > 0.8:
            high_corr_pairs.append(
                (numeric_cols[i], numeric_cols[j], round(corr_value, 2))
            )

high_corr_pairs

[]

### Summary Tables

In [53]:
# Numeric summary table
numeric_summary = df.select(numeric_cols).describe()
numeric_summary.show()

+-------+------------------+-----------------+-----------------+-----------------+-------------------------+-----------------+------------------+------------------+
|summary|         StudentID|   AttendanceRate|StudyHoursPerWeek|    PreviousGrade|ExtracurricularActivities|       FinalGrade|       Study Hours|    Attendance (%)|
+-------+------------------+-----------------+-----------------+-----------------+-------------------------+-----------------+------------------+------------------+
|  count|              1000|             1000|             1000|             1000|                     1000|             1000|              1000|              1000|
|   mean|          5412.859|            85.61|           17.599|           77.612|                    1.498|           80.029|            2.4337|            76.437|
| stddev|2600.1236459239967|7.200398999065657|6.114702657414228|9.840238121421969|       1.0291040059464622|9.301649298897463|1.5028199419018167|15.086007378316454|
|    min|               1.0|             70.0|              8.0|             60.0|                      0.0|             62.0|             -2.55|              50.0|
|    max|            9998.0|             95.0|             30.0|             90.0|                      3.0|             92.0|               5.0|             124.0|
+-------+------------------+-----------------+-----------------+-----------------+-------------------------+-----------------+------------------+------------------+

In [54]:
from pyspark.sql.functions import countDistinct

# Number of unique categories per categorical feature
categorical_summary = df.select([
    countDistinct(c).alias(c) for c in categorical_cols
])

categorical_summary.show()

+----+------+---------------+
|Name|Gender|ParentalSupport|
+----+------+---------------+
| 962|     2|              3|
+----+------+---------------+